<form [formGroup]="form"> 
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Lastname</mat-label>
    <input matInput type="text" formControlName="lastname" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pseudo</mat-label>
    <input matInput type="text" formControlName="pseudo" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm email</mat-label>
    <input matInput type="text" formControlName="confirmEmail" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" autocomplete="off">
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>