.home {
  height: 100%;
  mat-toolbar {
    height: auto;
  }
  .buttons {
    
    height: 20%;
    display: flex;
    justify-content: flex-start;
  .homeButton {
    display: inline-block;
  }

    .maestro-home {
      display: flex;
      text-decoration: none;
      color: white;
      .title,.titleImg {
        align-self: center;
        img {
          width: 55px;
        }
      }
    }

    .button {
      align-self: center;
    }
  }
  .example-container {

    height: 90%;
    min-height: 90%;
    margin: 0;
    background: #eee;
    mat-sidenav {
      .maestro-home {
        text-decoration: none;
        color: black;
      }
      width: 15%;
      .title {
        display: block;
        margin: 1rem;
        text-align: center;
        img {
          width: 60px;
        }
      }
    }
  }
}

  