<div class="home">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <div class="buttons">
        <div class="button homeButton">
          <a [routerLink]="'/'" class="maestro-home">
            <div class="title">
              <h1>Maestro</h1>
            </div>
            <div class="titleImg">
              <img src='../assets/maestro.png' alt="" srcset="">
            </div>
          </a>
        </div>
        <div class="button">
          <a mat-button [routerLink]="'/settings'"> Paramètres </a>
        </div>
        <div class="button">
          <a mat-button [routerLink]="'/signin'"> Créer un compte </a>
        </div>
        <div class="button">
          <a mat-button [routerLink]="'/login'"> Se connecter</a>
        </div>
        <div class="button">
          <a mat-button [routerLink]="'/partitions/upload'"> Ajouter une partition</a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>

</div>
