table {
  width: 80%;
  margin: 2rem auto;
}
.searchBar {
  background-color: white;
  width: 80%;
  margin: 2rem auto;
 
  text-align: center;
  .mat-form-field {
    padding: 1rem;
    font-size: 14px;  
    width: 90%;
  }
}  

.row-link:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}
