<div class="infos" *ngIf="partition">
    <h1>{{partition.title}} - {{partition.author}}</h1>
    <h3>Difficulté : {{partition.difficulty}} </h3>
    <!-- <div *ngFor="instrument of partition.instruments">
      <h3>Instrument : {{instrument}} </h3>
    </div> -->
    <button
      mat-raised-button
      color="primary"
      (click)="newTicket()">
      Nouveau ticket
    </button>
</div>

<div class="body">
  <div class="preview">
    <ng-container *ngIf="pdfSrc">
      <pdf-viewer [src]="pdfSrc" [render-text]="true" [zoom]="0.5"></pdf-viewer>
    </ng-container>
    <ng-container *ngIf="!pdfSrc">
      <p>No preview file</p>
    </ng-container>
  </div>
  <div class="comments">
    <h1>Commentaires</h1>
  </div>
</div>


